.loader{
    display: flex;
    justify-content: center;
    align-items: center;
  
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: 3px solid;
    border-color:transparent rgba(96, 131, 184, 0.666) rgba(61, 117, 202, 0.821) rgb(0, 102, 255)  ;
    animation:spin 0.3s linear infinite;
 }
 
 
 @keyframes spin {
    0%{
        transform:rotate(-180deg) ;
    }
    100%{
        transform:rotate(180deg) ;
    }
    
 }
 
 
